# Archivos de sistema gigantes
config/core
core/
*.db
*.db-shm
*.db-wal
*.log
.storage/

# Carpetas de entorno de Big Bear
bin/
include/
lib/
share/
pyenv/
www/

# Secretos y backups
secrets.yaml
.env
backups/

# Logs
*.log
*.log.*

# No necesarios
.cache/
*.lock
.HA_VERSION
